.Page {
  flex: 7;
  overflow-y: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.FileDownloadButton {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.FileUploadButton {
  position: absolute;
  top: 16px;
  right: 75px;
  padding: 8px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.dropped-components-container {
  flex: 1;

  min-height: 200px;
  padding: 16px;
  overflow-y: auto;
  position: relative;
}
